<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= t 'activerecord.errors.title', count: object.errors.count %></h2>

    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
