
<p>Redirecting...</p>
<!--
<script type='text/javascript'>
  location.href = 'https://github.com/login/oauth/authorize?client_id=a71300c68cb0e9cd4b85&redirect_uri=http://localhost:3000/auth/github/callback&response_type=code&scope=user';
</script>
-->