<% if new_record_path(true) then %>
  <div class="table-bordered border-left right-nav-container">
    <div class="top-title-container">
      <b><%= t "controller.#{controller_name}" %></b>
    </div>
    <div class="padding10 text-center">
      <%= link_to (t 'controller.actions.new'), new_record_path(true), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<div class="table-bordered border-left right-nav-container">
  <div class="top-title-container">
    <b>企业满意度排行</b>
  </div>
  <ul class="padding10">
    <li>新浪</li>
  </ul>
</div>
<div class="table-bordered border-left right-nav-container">
  <div class="top-title-container">
    <b>标签云</b>
  </div>
</div>