<div class="table-bordered border-left right-nav-container">
  <b>右侧导航栏</b>
</div>
<div class="table-bordered border-left right-nav-container">
  <b>右侧导航栏</b>
</div>
<div class="table-bordered border-left right-nav-container">
  <b>右侧导航栏</b>
</div>